
.mobile-nav-button {
    position: absolute;
    right:55px;
    top: 0px;
    z-index: 9;
}
/* Overlay style */
.overlay {
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	background: rgba(12, 12, 12, 0.98);
    z-index: 99;
}

/* Overlay closing cross */
.overlay .overlay-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 50px;
    top: 50px;
    overflow: hidden;
    background: none;
    color: #fff;
    border: 2px solid #7a7f7f;
    cursor: pointer;
}

/* Menu style */
.overlay form {
	text-align: center;
	position: relative;
	top: 50%;
	height:auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
button#trigger-overlay {
    outline: none;
    border: none;
    background: none;
    text-align: center;
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
}

.search form input[type="search"] {
    width: 100%;
    padding: 1em 1.5em;
    font-size: 17px;
    color: #fff;
    outline: none;
    background: none;
    border: 2px solid #fff;
	letter-spacing: 4px;
	border-radius:0;
}
.search button.btn.btn-primary.submit{
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	outline: none;
	letter-spacing: 2px;
	padding: 0.9em 3em;
	border: none;
	cursor: pointer;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	background: #de0f17;
	border-radius:0;
}
/* Menu style *
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

/* Effects */
.overlay-door {
	visibility: hidden;
	width: 0;
	left:49.99%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
	transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.overlay-door.open {
	visibility: visible;
	width: 100%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}

.overlay-door form {
	position: absolute;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	width: 45%;
}

.overlay-door form,
.overlay-door .overlay-close {
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.overlay-door.open form,
.overlay-door.open .overlay-close {
	opacity: 1;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.overlay-door.close form,
.overlay-door.close .overlay-close {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

@media screen and (max-height: 30.5em) {
	.overlay form {
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}
@media(max-width:767px) {
	.mobile-nav-button {
		position: absolute;
		right: 55px;
		top: -26px;
		z-index: 9;
	}

}
@media(max-width:600px) {
	.overlay-door form {
		width: 90%;
	}
	.search button.btn.btn-primary.submit {
		letter-spacing: 2px;
		padding: 0.9em 2em;
	}
}
@media(max-width:384px) {
	.mobile-nav-button {
		position: absolute;
		right: 95px;
		top: 30px;
	}
	.overlay-door form {
		width: 90%;
	}
	.search button.btn.btn-primary.submit {
		letter-spacing: 2px;
		padding: 0.9em 2em;
	}
}
@media(max-width:375px) {
	.mobile-nav-button {
		position: absolute;
		right: 95px;
		top: 30px;
	}
}